.countdown{
    position: relative;
    height: 30px;
    line-height: 30px;

    .countdown_box{
        text-align: center;
        font-weight: 600;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        span{
            display: block;
            float: left;
            width: 36px;
            text-align: center;
        }
        strong{
            display: block;
            float: left;
        }
        
        .countdown_days{
            width: 60px;
            text-align: right;
            padding-right: 5px;
        }
    }

    .no-strong{
        font-weight: 500;
    }
}