.home{
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 9% 0 9%;
    }

    .title{
        text-align: center;
        margin-top: 1.6%;
        margin-bottom: 7.2%;
    }

    .trophy{
        height: auto;
        margin-bottom: 2%;
        margin-top: 20px;
        position: relative;

        img{
            width: 100%;
            height: auto;
            // position: absolute;
            right: 0;
            bottom: 0;
        }
        span{
            position: absolute;
            right: 70px;
            bottom: 28px;
            cursor: pointer;
            color: #fff;
        }
        .trophy-secondPrize{
            right: 100px;
        }
        .trophy-thirdPrize{
            right: 76px;
        }
    }

    .buy{
        width: 300px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        margin: 0 auto;
    }
}