.home{
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding: 0 20px;
        align-items: center;
    }

    .title{
        text-align: center;
        margin-top: 16px;
        margin-bottom: 12.2%;
    }

    .trophy{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 30px;
        
        li{
            position: relative;
            z-index: 2;

            &.trophy-left{
                margin-right: -14%;
                z-index: 1;
            }

            &.trophy-right{
                margin-left: -9%;
                z-index: 1;
            }

            img{
                width: 100%;
            }
    
            span{
                position: absolute;
                font-size: 13px;
                left: 12%;
                bottom: 18%;
                cursor: pointer;
                color: #fff;

                &.trophy-secondPrize{
                    left: 12%;
                    bottom: 18%;
                }
        
                &.trophy-thirdPrize{
                    left: 24%;
                    bottom: 18%;
                }
            }
        }
    }

    .md-trophy{
        width: 70%;
        margin: 30px auto 0;
        
        li{
            position: relative;

            img{
                width: 100%;
            }
    
            span{
                position: absolute;
                font-size: 13px;
                left: 16%;
                bottom: 18%;
                cursor: pointer;
                color: #fff;

                &.trophy-secondPrize{
                    left: 16%;
                    bottom: 16%;
                }
        
                &.trophy-thirdPrize{
                    left: 16%;
                    bottom: 16%;
                }
            }
        }
    }

    .buy{
        width: 260px;
        height: 40px;
        border: 0;
        line-height: 40px;
        font-size: 18px;
        margin: 0 auto;
        cursor: pointer;
        outline: none
    }

    .accordion-box{
        width: 100%;
       
        .inline-block{
            display: inline-block;
        }
    }
}