.home{
    .icon_img{
        height: 16px;
        margin: -6px 6px 0 0;
    }

    .icon-font-size{
        font-size: 12px;
    }

    .Home_Title{
        height: 60px;
        line-height: 60px;
        position: relative;
        margin: 20px 0 60px 0;

        img{
            height: 100%;
            width: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;

        }
    }

    .Home_buy{
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: #fff;
        background: linear-gradient(to right, #1DE2E8 0%, #B333F8 100%);
        text-align: center;
        border-radius: 4px;
        margin: 0 auto;
    }
}